.card {
    width: 190px;
    height: 254px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.device-id,
.name,
.price {
    margin: 0;
}

.picture {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.device-info {
    margin-bottom: 1em;
}

.remove-button {
    align-self: flex-end;
    padding: 5px 10px;
    margin-top: auto;

    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    cursor: pointer;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.remove-button:hover {
    background-color: #e5e5e5;
    color: #222;
}
