.button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: darkblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        transform 0.2s;
    margin-bottom: 10px;
}

.button:hover {
    background-color: blue;
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button.primary {
    background-color: #007bff;
}

.button.secondary {
    background-color: #6c757d;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
